* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
html{ background: #f0f9ff;  }
.f-l {
    float: left;
}

.f-r {
    float: right;
}

.t-c{
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*a:hover { color:#ff8523;  }*/

input,
button {
    border: none;
}

input:focus,
button:focus {
    outline: none;
}

.mt50 {
    margin-top: 50px;
}

img{ border:none;  }
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 76%;
    line-height: 1;
    color: #777;
    font-weight: 400;
}

.clear{ clear: both; font-size: 0px; line-height:0px; }

/*公共样式*/

.title {
    /*margin-bottom: 80px;*/
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    text-align: center;
    width: 70%;
    margin: 0 auto 6%;
}

.title:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 24px;
    border-bottom: 1px solid #bcbcbc;
    z-index: 10;
}

.title p {
    line-height: 1.5;
    position: relative;
    z-index: 100;
    background: #f0f9ff;
    display: inline-block;
    padding: 0 30px;
}

.title span {
    text-transform: Uppercase;
    color: #ff8523;
}

.title small {
    font-size: 60%;
    color: #6b6b6b;
}

.ov-h{ overflow: hidden;}

/*列表*/

.col-list-4 li,
.col-list-5 li,
.col-list-6 li {
    box-sizing: border-box;
    float: left;
}

.col-list-5 li {
    width: 18%;
    margin: 1%;
}

.col-list-6 li {
    width: 14.5%;
    margin: 1%;
}

.col-list-4 li {
    width: 23%;
    margin: 1%;
}

.col-list-2{ 
   width: 50%;
   float: left;
 }

/*样式初始化 end*/

/*公共样式*/

.container{text-align: center; width:90%; max-width: 1440px; margin: 0 auto; padding:6% 0; box-sizing: border-box;  }
.container h4{ font-size:24px; }

.container li .icon {width: 110px; height: 100px; margin: 0 auto; background-repeat:no-repeat;}
.service li .icon {background-image: url(../images/service-icon.png);  }
.product li .icon { background-image: url(../images/product-icon.png); margin-top:10%;margin-bottom:10%; }
.product h4,.build h4{ font-size:18px; }
.build li .icon { background-image: url(../images/build-icon.png); margin:10% auto; }
.container .line {border-bottom: 1px solid #b0b0b0; margin: 15px 0 10px; }
.container .line span {display: block; width: 20%; height: 4px; margin: 0 auto; background: #b0b0b0; border-radius: 2px 2px 0 0; }
.container li .icon-1 {background-position: 0 0; }
.container li .icon-2 {background-position: -110px 0; }
.container li .icon-3 {background-position: -220px 0; }
.container li .icon-4 {background-position: -330px 0; }
.container li .icon-5 {background-position: -440px 0; }
.container li .icon-6 {background-position: -550px 0; }
.container li:hover .icon-1 {background-position: 0 -100px; }
.container li:hover .icon-2 {background-position: -110px -100px; }
.container li:hover .icon-3 {background-position: -220px -100px; }
.container li:hover .icon-4 {background-position: -330px -100px; }
.container li:hover .icon-5 {background-position: -440px -100px; }
.container li:hover .icon-6 {background-position: -550px -100px; }
.container li:hover .line {border-bottom: 1px solid #fff; }
.container li:hover .line span {background: #fff; }
.container li:hover .text {color: #fff; }
.container li:hover a.s-more { border: 1px solid #fff; color: #fff; }



.bgcolor .title p{background: #3ca5f4; }
.bgcolor .title span{color: #fdf574; }
.bgcolor .title{color: #fff; }
.bgcolor .title small{color: #efeff0; }

/*公共样式 end*/

header { position: relative; max-width:1300px; *width:1200px; width:98%; margin:1% auto; box-sizing: border-box; }
header .logo { float: left; max-width:20%; *width:20%; }

.menu{ float: right; width:80%; margin-top:15px; text-align: right; overflow: hidden; }
.menu li{ display:inline-block; margin-left:1%; }
.menu a { color: #000; display:block; line-height:1; padding:10px; border-radius:10px; font-size:16px; }
.menu li a:hover,.menu li.active a{background: #ff8523; color: #fff; }

.menu-btn{ display:none; width: 40px; line-height:40px; position: absolute; right:0; top:10px; }
.menu-btn img{ display: block; }
.banner { width: 100%;  min-height:400px;  overflow: hidden; position: relative;  }
.banner img{ position:absolute; width: 100%; height:auto; top:0; }
.banner .b-btn{ position: absolute; top:50%; margin-top:-20px; width: 41px; height: 40px; opacity: .5; cursor: pointer; }
.banner .b-btn:hover{ opacity:1;}
.banner .b-left{ background:url(../images/left.png); left:0; }
.banner .b-right{ background:url(../images/right.png); right: 0; }


.superiority {position: relative; z-index: 100;  border-right: 5px solid #e4e2e2;  border-bottom: 5px solid #e4e2e2;   max-width: 1620px; box-sizing: border-box; width:90%; margin: -65px auto 0; text-align: center; background: #f4f4f4; box-shadow: 5px 5px 10px rgba(0, 0, 0, .3); }
.superiority dd,
.superiority dt {float: left; width: 12.5%; border-top:5px solid #e4e2e2;  height: 120px; display: table; position: relative; font-size: 16px;  box-sizing: border-box; }
.superiority dl {overflow: hidden; margin-bottom: 0px; }
.superiority dl .text{ display: table-cell; *position:absolute; top:50%; left:0; width: 100%;  vertical-align: middle; color: #8d8d8d;  }
.superiority dl .text div{ position: relative; top:-50%; text-align: center;  }
.superiority dl .text img{ width:40px; height: auto; }
.superiority dt {background: #1997f7; color: #fff; border-left: 5px solid #e4e2e2;  *margin-left:-5px; }
.superiority dt .glyphicon {font-size: 60px; }
.superiority dt h2 {font-size: 20px; line-height:1; color: #fff; }
.superiority dd {border-left: 5px solid #e4e2e2;  *margin-left:-6px; }




.service li { border: 1px solid #ff8523; padding:3%; }
.service .text { line-height: 18px; font-size: 14px; color: #969696; height:80px; text-align: left;   }
/*.service h4 { font-size: 24px; }*/
.service li a {margin:3% auto 0; display: inline-block; line-height:2; padding: 0 10px; color: #969696; border: 1px solid #b0b0b0; border-radius: 15px; }
.service li:hover { background: #ff8523; color: #fff; }
.product-box {background: #3ca5f4; }
.product {text-align: center; width:90%; max-width: 1440px; margin: 0 auto; padding:6% 0; }


.product li {border: 1px solid #ff8523; background: #fff; float: left; box-sizing: border-box; }
/*.product li:hover { background: #ff8523; color: #fff; }*/
.product li .text {color: #969696; line-height: 18px; font-size: 14px; height: 54px; }
.product li a {margin: 20px auto 0; display: inline-block; line-height: 30px; padding: 0 10px; color: #969696; border: 1px solid #b0b0b0; border-radius: 15px; }

/*case*/

.case {width:90%; max-width: 1440px; margin: 0 auto; padding:6% 0; }
.case .title {margin-bottom: 40px; }
.tab{ width:100%; max-width:840px; margin:0 auto;  text-align: center; font-size:16px; line-height:2; overflow: hidden; }
.news-tab .offset-left{ margin-left:15.5%; }
.tab span{ display:block; float: left; width:19%; padding: 0 2%; cursor: pointer; margin:3%; box-sizing: border-box; border-radius: 18px; border: 1px solid #cecdcd; color: #000; }
.tab span.active,.tab span:hover{background: #ff8523; color: #fff; }
.case ul {margin-top:6%; }
.case li a {display: block; background: #dbf1ff; padding:14% 5%; border: 1px solid #d4d3d3; }
.case li:hover { background: #ff8523; color: #fff; }
.case li .case-text { position: relative; height: 28px; margin-top:5%; background: #fff; line-height: 28px; text-align: left; font-size: 19px; padding:6% 5%; color: #000; }
.case li .case-text span {float: right; font-size: 12px; border-radius: 10px; line-height: 14px; padding: 0 5px; border: 1px solid #fd5757; color: #fd5757; margin-top: 7px; }
.case li a:hover { background: #ff8523; }
.more {display: block; margin: 6% auto 0; width: 148px; height: 46px; background: #ff8523; line-height: 46px; text-align: center; color: #fff; }
.more:hover{ opacity:.6; text-decoration:underline; color:#fff; }

/*.build*/
.build-wrap {background: #3ca5f4; }
.build {text-align: center; width:90%; max-width: 1440px; margin: 0 auto; padding:6% 0; }

.build ul {overflow: hidden; }
.build li {border: 1px solid #ff8523; background: #fff; padding: 20px; float: left; }
/*.build li:hover { background: #ff8523; color: #fff; }*/
.build li .text {color: #969696; line-height: 18px; font-size: 14px; height: 54px; }
.build li a {margin: 20px auto 0; display: inline-block; line-height: 30px; padding: 0 10px; color: #969696; border: 1px solid #b0b0b0; border-radius: 15px; }


/*动画*/
/*.animate-list-2 {
    margin: 0 auto;
    overflow: hidden;
}*/

/*.animate-list-inner {
    margin: 70px auto;
}*/

.animate-list-inner .item {
    height: 280px;
    float: left;
    border: 1px solid #CCC;
    margin-right: -1px;
    position:relative;
    overflow: hidden;
    z-index: 1;
    perspective: 800px;
}

.animate-list-inner .item-inner {
    width: 100%;
    height:100%;
    position: absolute;
}

.animate-list-inner .item-front {
    text-align: center;
    padding: 0 25px;
    position: absolute;
}

/*.animate-list-inner .item-front h6 {
    color: #A8A8A8;
    padding: 30px 0 0;
    font-weight: 400;
    font-size: 14px;
}

.animate-list-inner .item-front h5 {
    font-size: 20px;
    padding: 20px 0;
    font-weight: 400;
}

.animate-list-inner .item-front .icon-img {
    height: 64px;
    display: block;
}

.animate-list-inner .item-front p {
    line-height: 24px;
    padding: 20px 0;
    font-size: 14px;
}*/

.animate-list-inner .item-behind {
    height: 100%;
    padding: 0 12px;
    background:#ff8523;
    color: #FFF;
    position: absolute;
    left: -1px;
    top: -1px;
    display: none;
}

.animate-list-inner .item-behind h6 {
    font-size: 16px;
    border-bottom: 1px solid #B0D2EC;
    padding: 5px 0 0;
    text-align: center;
    line-height: 46px;
    font-weight: 400;
}

.animate-list-inner .item-behind dl {
    margin: 5px 0 10px;
}

.animate-list-inner .item-behind dt i {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-image: url(/images/2016/xc/behind_icon_bg.png);
    margin-right: 10px;
}

.animate-list-inner .item-behind dt {
    line-height: 30px;
    font-size: 14px;
}

.animate-list-inner .item-behind dd {
    line-height: 18px;
    font-size: 12px;
}

.animate-list-inner .item-behind .dashed {
    border-bottom: 1px dashed #B0D2EC;
    height: 0;
}

.animate-list-inner .btn-area {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 0;
}

.animate-list-inner .btn-area a {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    margin-right: 5px;
}

.animate-list-inner .btn-area .btn-1 {
    background-color: #FFF;
    border-color: #FFF;
    color: #229FFD;
    width: 86px;
}

.animate-list-inner .btn-area .btn-2 {
    background-color: #2C9EF3;
    color: #FFF;
    border-color: #FFF;
    width: 46px;
}

.animate-list-inner .btn-area .btn-3 {
    background-color: #2C9EF3;
    color: #FFF;
    border-color: #FFF;
    width: 46px;
}

.animate-list-inner .item-open .item-behind {
    display: block;
}

.animate-list-inner .item-open .item-front {
    display: none;
}

.animate-list-inner .item-adm .item-inner {
    transform-style: preserve-3d;
    transition: transform .5s ease;
    transform-origin: right center;
}

.animate-list-inner .item-adm .item-front {
    opacity: 1;
    transition: all .5s ease .1s;
    display: block;
}

.animate-list-inner .item-adm .item-behind {
    opacity: 0;
    transition: all .5s ease .1s;
    transform: rotateY(180deg);
    display: block;
}

.animate-list-inner .item-open-adm .item-inner {
    z-index: 2;
    transform: translateX(-100%) rotateY(-180deg);
}

.animate-list-inner .item-open-adm .item-front {
    opacity: 0;
    display: none;
}

.animate-list-inner .item-open-adm .item-behind {
    opacity: 1;
}


/*首页广告位*/
#ad{ background:url(../images/position_bg.jpg) no-repeat; color: #fff;}

.ad-container{ max-width: 1300px; width:80%; font-size:40px;  margin:0px auto; padding:70px 0; overflow: hidden;}

#ad h2{ font-size:100%; line-height:1.2; }
#ad p{ font-size:57.5%; margin-top:1%; }
#ad a{ display: inline-block; font-size:65%; line-height:1.5; 
    padding:0 30px; background-color: #ff8523; border-radius:18px; color:#fff; margin: 20px auto 0;  }

#ad .ad-left{  width: 60%;  }
#ad .ad-right{  width: 40%;  }



.news .title{  margin-bottom:3%;  }
.news-box{ margin-top:6%; text-align: left; overflow: hidden;  }
.news-box .news-left,.news-box .news-right{ padding:0 80px; box-sizing: border-box; margin-bottom:6%;    }
.news-img{ margin-bottom: 40px;}
.news-box h3{ font-size:18px; line-height:22px; margin-bottom:15px; color: #010101;}
.news-box h3 a{  color: #010101;}
.news-box li a:hover{ color: #ff8523;  }
.news-box p{ font-size:14px; line-height:20px; color:#616161;}
.news-box p a{ color:#616161;}



.time{ float: left; margin-right: 24px; width: 102px; height: 96px; background: #dbdbdb; text-align: center; color: #8b8b8b; }
.time .day{ font-size:40px; }
.time .sheda-line{ border-bottom: 1px dashed #8b8b8b; font-size: 0; line-height: 0px; width: 80%; margin:0 auto 10px;  }
.time .date{ font-size:16px; line-height:16px;     }

.news-box li{ margin-bottom:6%;}
/*.news-box li:hover{   }*/
.news .more{ margin-top: 0px;  }

#ad1{ width: 100%; position:relative; overflow: hidden; }
#ad1 img{ width:100%;}
#ad1 img.ad-min{ display: none;}


.serves{ max-width:1440px; width: 100%; overflow: hidden; margin:0 auto; padding:40px 0;  }
.serves li{ line-height:80px; padding-left:5.6%; box-sizing: border-box; }
.serves li .icon{ width:80px; height: 80px; display: block; background:url(../images/icon.png) no-repeat;  float:left; margin-right:10px; }
.serves li .icon-1{ background-position:0 0; }
.serves li .icon-2{ background-position:-80px 0; }
.serves li .icon-3{ background-position:-160px 0; }
.serves li .icon-4{ background-position:-240px 0; }


footer{ background: #373d41; color: #cdcdcd; text-align: left; }
footer .container{ max-width:1200px; margin:0 auto; padding:20px 0 30px;  overflow: hidden;   }
footer .footer-nav{ padding-bottom:20px; border-bottom:1px solid #cdcdcd; text-align: left; width: 60%; overflow: hidden;   }
footer .footer-nav h2{ display: inline-block; font-size:17px; line-height:30px; float: left;  }
footer .footer-nav a{ color: #cdcdcd; display: inline-block; line-height:14px; margin-top:8px; border-left:1px solid #cdcdcd; padding:0 10px; float: left;   }
footer .footer-nav a:hover { color:#ff8523;  }
footer .footer-nav .first{  border-left:0px solid #cdcdcd;}
footer .address{ line-height:40px; text-align: left; margin-top: 40px; float: left; }
footer .address img{ vertical-align: middle; margin-right:10px;   }
footer .weixin{ float: right; max-width:400px; margin-top:25px;  width:100%; }
footer .weixin>div{ float:left; margin:0 25px; text-align: center; }


.copyright{ background: #040301; line-height:45px; font-size:13px; text-align: center; color:#bdbdbd; }



/*news article*/
.article{ max-width:1420px; width:90%; margin:0 auto; padding:20px 0 0; font-size:32px; }
.article h2{ font-size:100%; color: #000; border-bottom:2px solid #ccc; font-weight: normal; }
.nav-main{ float: right; font-size:50%; color: #a0a0a1; line-height:60px;   }
.nav-main a{ color: #a0a0a1; }

.news-container{ margin-top:5%; border:2px solid #ff8523; padding:3% 3% 0; font-size:68.75%; color: #7e7e7e; text-indent:2em; line-height:1.8;      }
.news-container p{ margin-bottom:4%;  }

.case-article .case-tab{ margin-top:4%; margin-bottom:4%; }
.case-article .case-tab span{ border:1px solid #ff8523; color:#ff8523; margin:1%; width:18%; }
.case-article .case-tab span.active,.case-article .case-tab span:hover{ color:#fff;}
.case-article li{ border:1px solid #ff8523;}
.case-article li img{ display: block;}
.case-article li a{ display: block;/* background:#fff;*/ color: #ff8523;}
.case-article .case-text{ font-size:50%; padding:6%; line-height:20px;   }
.case-article .case-text span{ float: right;  font-size:10px; line-height:1.2; margin-top:4px; /*background: #fafafa;*/ padding:0 6px;  border-radius:10px; border:1px solid #ff8523; }
.case-article .case-img{ position: relative; }
.case-article .mask{ display: none; position:absolute; width:100%; height:100%; top:0; left:0; z-index:10; background-color:rgba(0,0,0,.2); background-color:#000\9; opacity:0.2/9; filter:Alpha(opacity=20);/* 只支持IE6、7、8、9 */
  *zoom:1;}

.case-article .zoom{ display: none; position:absolute; width:100%; height:100%; top:0; left:0; z-index:12;  background-image:url(../images/icon-zoom.png); background-position:center center; background-repeat: no-repeat; }




.case-article li a:hover{ background:#ff8523; color:#fff; }
.case-article li a:hover span{ border-color:#fff;}
.case-article li a:hover .mask{ display: block; }
.case-article li a:hover .zoom{ display: block; }

.page{ text-align: center; max-width:800px; margin:4% auto;  }
.page a{ display:inline-block; padding:2.1%;  line-height:1; font-size:50%; margin:0 0 2%; background:#d8d8d8; color:#333; border-radius:5px;   }
.page a.t-hover{ background: #f8ab51; color:#fff;}
.page a.active{ background: #1997f7; color:#fff;}


/*新闻列表*/
.news-list .news-box{ width:46%; margin-top:4%; }
.news-list .news-tab{ margin-top:3%; }
.news-list .news-tab span{ background: #fafafa; border:1px solid #ff8523; color:#ff8523; }
.news-list .news-tab span.active,.news-list .news-tab span:hover{ background: #ff8523;  color:#fff; }


.article .date{ font-size:16px; line-height:1;}
.article .hot-news{ padding:0; margin-bottom:12%;}


.innerbanner,.banner{ border-top:5px solid #ff8523;   }
.innerbanner img{ width:100%; }

.bottom-nav{ display: none; position: fixed; width: 100%; left:0px; bottom:0; z-index: 1000; }
.bottom-nav a{ display: block;  width:25%; line-height:2; font-size:13px;   border-right:1px solid #333; box-sizing:border-box; float: left; color:#fff;  text-align: center; background:#000;}
.bottom-nav a i{ display: block; width:30px; height:30px; margin:10px auto 0; background: #fff; }

@media (max-width: 1500px) {
    .container h4{ font-size:22px;}
}

@media (max-width: 1400px) {
    .col-list-4 li { width: 30%; margin: 1.6666%; }
    .service .col-list-4 li,.case-box .col-list-4 li{
        width: 23%;
        margin: 1%;
    }
/*    header{ width:80%;  }
    header .logo{ margin-top:20px;}
    .menu{ float: none; width: 820px; margin:20px auto 0;  }
    .menu a{ line-height: 50px; font-size: 16px;}*/
    .superiority dl .text img{ width:30px; } 
    .article{ font-size:30px; width: 80%; }
    .serves li{ padding:0;}
    .case li .case-text{ font-size:14px; }
    .serves li .icon{ float: none; margin:0 auto;}
    .serves li div{ text-align: center; line-height:2;  }
    .container h4{ font-size:20px;}

}

@media (max-width: 1200px) {
    .banner img{ min-width:1200px; left:50%; margin-left: -600px;}
    .banner img.innerbanner{ min-width:100%; position: static; margin:0; left:0;}
    .col-list-4 li,
    .col-list-5 li,
    .col-list-6 li { width: 30%; margin: 1.6666%; }

    .ad-container{ padding:30px 0; font-size:30px;   }
    #ad .ad-left{  width: 100%; text-align: center;  }
    #ad .ad-right{  width: 100%; text-align: center;  }
    .news-box .news-left,.news-box .news-right{ padding:0 30px;}
    .superiority dt h2{ font-size: 20px;  } 
    .superiority dd,.superiority dt{ width:25%; font-size:16px;}
    .container h4{ font-size:18px; }
    /*#ad1 img{ position:relative; right:0; }*/
    footer .container{ width:80%; }
    footer .address{ width:100%; }
    footer .weixin{ float: left; max-width:600px; }
    footer .weixin>div{  margin-top:10px; max-width:200px; margin-left: 0; width:60%;  }
    footer .footer-nav{ width: 100%; border:0px;  } 
    footer .footer-nav a{ display: block; border-bottom:1px solid #cdcdcd; border-left:0px;  text-align: center; line-height:40px; float: none; margin-top: 0;  }
    footer .footer-nav h2{ display: none;  }


}


@media (max-width: 992px){
    .container{ padding-left:15px; padding-right:15px;  }
    .col-list-2{ 
         width: 100%;
    }
    .case-box .col-list-4 li,
    .col-list-4 li{  width: 48%; margin: 1%;}
    /*.superiority dl .text img{ width:20px; }*/
    /*#ad1 img{ height: 122px;  position: absolute; right:-20%;}*/
    header{ width:92%; }
    header .logo{ max-width:200px;}
    /*header .search-box{ display: none;  }*/
    /*header .tel{ position:static; width:30%; float: right; margin-top:4%; display: block;}*/
    /*header .tel{ width:30%; float: right; display: block; right:50%; margin-right:-22%; top:4px; margin-top:4%;   }*/
    .menu{ display:none; position: absolute; left:0px; top:0px; margin:0; background:#ccc; width:100%; overflow:visible; color:#ccc; z-index: 1000; } 
    .menu li{ display: block; width:100%;  height:60px; }
    .menu li a{ line-height:60px; padding:0px; text-align: center; border-radius: 0;}
    .menu-btn{ display: block;}

    .article{ font-size:24px; width: 100%; box-sizing: border-box; padding:0 20px; }
    .news-list .news-box{ width:100%;}
    /*.service .col-list-4{ width:70%; margin:0 auto;  }*/
    .service .col-list-4 li { width: 44%; margin: 3%;    }
}

@media (max-width: 768px) {
    .col-list-4 li,
    .col-list-5 li,
    .col-list-6 li { width: 48%; margin: 1%;}
    .col-list-2{ 
         width: 100%;
     }

     #ad1 img.ad-max{ display: none;}
     #ad1 img.ad-min{ display: block;}
     .service .col-list-4 li { width: 48%; margin:1%;    }
    .title{ font-size:24px;}
    .superiority{ border-right:1px solid #e4e2e2;border-bottom:1px solid #e4e2e2;  }
    .superiority dt h2{ font-size: 16px; } 
    .superiority dd,.superiority dt{ width:50%; font-size:13px; height:65px; border-top:1px solid #e4e2e2; border-left:1px solid #e4e2e2; }
    .case li .case-text{ font-size:16px; } 
    #ad h2{ font-size:20px; }
    .tab{ font-size:14px;}
    .tab span{ width:23%; margin-left:1%; margin-right:1%;  }
    .news-tab .offset-left{ margin-left:13.9%;}
    /*.case-tab span:nth-child(1){ margin-left: 8%; }*/
    .news-article{ font-size:20px;}
    .article .time{ display: none;  }
    .serves li{  margin:2% 0;}
    footer{ display: none; }
    .copyright{ margin-bottom:66px;}
    .bottom-nav{ display: block; }
}

@media (max-width: 460px) {
/*    .col-list-4 li,
    .col-list-5 li,
    .col-list-6 li { width: 92%; margin: 4%; }    */
    .col-list-4 li,
    .col-list-5 li,
    .col-list-6 li { width: 80%; margin: 4% 10%; }
    .case .col-list-4 li{ width:100%; margin:4% 0; }
    .product .col-list-6 li,.service .col-list-5 li,.build .col-list-6 li,.case-container .col-list-4 li{ width:48%; margin:1%; }
    .product .col-list-6 li .icon,.service .col-list-5 li .icon,.build .col-list-6 li .icon,.serves li .icon{ transform: scale(.8,.8); }
    .service .text{ height:80px; font-size:12px; text-align: left;  }
    .service li a{ font-size:14px; }
    .container h4{ font-size:16px; }
    .news-box h3{ font-size:15px;}
    .news-box p,.container li .text{ font-size:12px;}
    .title{ font-size: 20px; width: 100%; }
    .tab{ font-size:9px;  }
    .case-article .case-text span{ font-size:9px; }
    .news-article{ font-size:18px;}
    .news .time{ display:none;}
    .news-box .news-left,..news-box .news-right{ padding:0;  }
    .product li,.build li{  padding:5% 6%;}
    .serves li{  margin:2% 0; font-size:12px; }
}
